<div class="row">
  <div class="row banner">
    <a href="#">
      <img src="{{'banner-cursosytalleres.jpg' | theme_image_url }}" class="img">
    </a>
  </div>
  <div class="row banner">
    <a href="#">
      <img src="{{'banner-estadisticas.jpg' | theme_image_url }}" class="img">
    </a>
  </div>
  <div class="row banner">
    <a href="#">
      <img src="{{'banner-cinemamexico.jpg' | theme_image_url }}" class="img">
    </a>
  </div>
  <div class="row banner">
    <a href="#">
      <img src="{{'banner-comefilm.jpg' | theme_image_url }}" class="img">
    </a>
  </div>
  <div class="row banner">
    <a href="#">
      <img src="{{'banner-cineentuciudad.jpg' | theme_image_url }}" class="img">
    </a>
  </div>
  <div class="row banner">
    <a href="#">
      <img src="{{'banner-cinesecuencias.jpg' | theme_image_url }}" class="img">
    </a>
  </div>
</div>
