<div class="row cartelera1">
  <h4>CARTELERA DE LA SEMANA</h4>
  <a href="#"><p class="text-right" id="mas">MÁS</p></a>
  
  <div class="prev"><img src="{{ 'flecha-carrusel-i.png' | theme_image_url }}" class="img"></div>
  <div class="next"><img src="{{ 'flecha-carrusel-d.png' | theme_image_url }}" class="img"></div>
  
  <div class="anyClass">                  
    <ul class="carousel-slider">
      <li>
        <img src="{{ 'movie1.jpg' | theme_image_url }}" class="img">
        <div class="caption-wrapper">
          <h5>LOS FABULOSOS 7</h5>
          <h6>Fernando Sariñana</h6>
          <h6>2013</h6>
        </div>
      </li>
      <li>
        <img src="{{ 'movie2.jpg' | theme_image_url }}" class="img">
        <div class="caption-wrapper">
          <h5>ACTORES, S.A.</h5>
          <h6>Carlos Gonzáles Sariñana</h6>
          <h6>2008</h6>
        </div>
      </li>
      <li>
        <img src="{{ 'movie3.jpg' | theme_image_url }}" class="img">
        <div class="caption-wrapper">
          <h5>EL SECRETO DEL MEDALLÓN DE JADE</h5>
          <h6>Rodolfo Guzmán<br>Leopoldo Aguilar</h6>
          <h6>2011</h6>
        </div>
      </li>
    </ul>
  </div>
</div>