<div id="featured"> 
  {% for slide in contents.slides %}
  <img src="{{ slide.imagen_url }}"  class="img" data-caption="{{slide._slug}}">
  
	<!-- Captions for Orbit -->
  
  <span class="orbit-caption" id="{{slide._slug}}">
    <strong>{{ slide.titulo }}</strong>
    <br>{{ slide.descripcion }}
  </span>
  {% endfor %}
</div>


