<div class="slider1">
  <ul id="slider2">
    <li>
      <img src="{{ 'img_slide_cinemaM.jpg' | theme_image_url }}" class="img">
      <div class="bx-caption">
        <span><strong>MIRADAS MÚLTIPLES</strong><br>
          Una inmersión en las imágenes más simbólicas y claves de las películas mexicanas fotografiadas por Gabriel Figueroa, acompañadas por las voces en off de los 40 cinematógrafos más importantes del mundo.</span>
        <div id="mas-caption"><img src="{{ 'icono-mas.png' | theme_image_url }}" class="img"><a href="#">MÁS</a></div>
      </div> 
    </li>
    <li>
      <img src="{{ 'img_slide_cinesecuencias.jpg' | theme_image_url }}" class="img">
      <div class="bx-caption">
        <span><strong>MIRADAS MÚLTIPLES</strong><br>
          Una inmersión en las imágenes más simbólicas y claves de las películas mexicanas fotografiadas por Gabriel Figueroa, acompañadas por las voces en off de los 40 cinematógrafos más importantes del mundo.</span>
        <div id="mas-caption"><img src="{{ 'icono-mas.png' | theme_image_url }}" class="img"><a href="#">MÁS</a></div>
      </div> 
    </li>
    <li>
      <img src="{{ 'img_slide_cursos.jpg' | theme_image_url }}" class="img">
      <div class="bx-caption">
        <span><strong>MIRADAS MÚLTIPLES</strong><br>
          Una inmersión en las imágenes más simbólicas y claves de las películas mexicanas fotografiadas por Gabriel Figueroa, acompañadas por las voces en off de los 40 cinematógrafos más importantes del mundo.</span>
        <div id="mas-caption"><img src="{{ 'icono-mas.png' | theme_image_url }}" class="img"><a href="#">MÁS</a></div>
      </div> 
    </li>
    <li>
      <img src="{{ 'img_slide_estadisticas.jpg' | theme_image_url }}" class="img">
      <div class="bx-caption">
        <span><strong>MIRADAS MÚLTIPLES</strong><br>
          Una inmersión en las imágenes más simbólicas y claves de las películas mexicanas fotografiadas por Gabriel Figueroa, acompañadas por las voces en off de los 40 cinematógrafos más importantes del mundo.</span>
        <div id="mas-caption"><img src="{{ 'icono-mas.png' | theme_image_url }}" class="img"><a href="#">MÁS</a></div>
      </div> 
    </li>
  </ul>
  
  <div id="bx-pager2">
    <p>ESTRENOS</p>
    <a data-slide-index="0" href="#">1</a>
    <a data-slide-index="1" href="#">2</a>
    <a data-slide-index="2" href="#">3</a>
    <a data-slide-index="3" href="#">4</a>
  </div>                 
</div>